
$brand-color : #25305C; //bleu
$brand-color-clair : scale-lightness($brand-color, 42); //bleu clair
$accent-color : #F5A623; //jaune
$noir : #2D2D2D;
$gris-sombre : #4f4f4f;
$gris-clair : scale-lightness($gris-sombre, 95);
$blanc : white;

$gutter : 15px;
$rond: 25px;

$padding-intro : 25% 0;

$padding-dates : 10px;
$padding-section : 5em 0;
$padding-section-small : 3em 0;
$padding-section-piece : 3em 0 0 0;

$line-height-header: 1em;

$padding-header : 0.7em;
$padding-header-small : 0.3em;

$heightLogo: 4em;
$heightLogoSmall: 2.5em;

$default-transition-duration : 300ms;
$header-transition-duration : 500ms;

$opacity : 92/100;

$radius-default:3px;

* {
	@include box-sizing(border-box);
	@include selection($gris-sombre, scale-lightness($accent-color,46));
}

body,ul,li, h1,h2,h3,h4,h5,h6,br,blockquote {
	margin:0;
	padding: 0;
}

@include font-face(
  "aleo",
  inline-font-files(
    'aleo/aleo-bold.woff', woff,
    'aleo/aleo-bold.ttf', ttf,
    'aleo/aleo-bold.svg', svg),
  	'aleo/aleo-bold.eot',
  bold, // font-weight
  normal  // font-style
);
@include font-face(
  "aleo-italic",
  inline-font-files(
    'aleo/aleo-italic.woff', woff,
    'aleo/aleo-italic.ttf', ttf,
    'aleo/aleo-italic.svg', svg),
  	'aleo/aleo-italic.eot',
  normal, // font-weight
  italic // font-style
);

$font-primary-normal : "aleo",georgia, serif;
$font-primary-italic : "aleo-italic";
$font-secondary-normal : "lato",Arial, helvetica, sans-serif;

body {
	background-color: $blanc;

	font-family: $font-secondary-normal;
	font-size: 1em;
	color: $noir;
	line-height: 1.4em;
	font-weight: 300;
}

p {
	font-size :1.1em;
	color : $noir; 
}


h2{
	margin-bottom: 1.6em;
	
	font-family:$font-primary-normal;
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1.2;
	color: $brand-color;
	text-align: center;
	
	
	&::after {
		
		position : relative;
		display: block;
		left : 50%;
		margin: 20px 0 0 0px;
		width: 0px;
		height: 4px;
		
		content:"";
		background-color:$brand-color;

		@include transition(width 0.5s, margin 0.5s, opacity 0.1s, delay 1s );
		@include transition-delay(0.3s);
		@include opacity(0);

	}	
}

.underline::after {
	width: 200px;
	margin: 20px 0 0 -100px;
	@include opacity(1);
		
}	 




h3{
	margin-bottom: 1em;
	font-family: $font-primary-normal;
	font-weight: bold;
	color: $accent-color;
	font-size: 1.5em;
	line-height: 1.2;

}

a{
	text-decoration: none;
	color: $noir;
	transition-duration:$default-transition-duration;
 	&:hover {
		color: $accent-color ;
	}

}
a.dark-link {
	color: $noir !important;
	transition-duration:$default-transition-duration;
		&:hover {
			color: $noir !important;
		}
	}

ul {
	margin-left : $gutter;
}
li {
	margin-left : $gutter;
	list-style: circle;
}

section{
	padding: $padding-section;
}

.hidden {
	visibility: hidden;
}


.infos {
	text-align: center;
}
/*------------------------------------*\
    $Formulaire
\*------------------------------------*/
form {
	margin-bottom: $gutter;

}


input{
	margin-bottom: $gutter;
	width: 100% ;
	padding: 1em 1em;

	border : none;
    border-radius: 0;

	background-color: $blanc;

	-webkit-appearance: none;
	line-height: 1em;
	font-size: 1em;
	font-weight: 100;
	@include placeholder($gris-sombre);

}
textarea {
	@extend input;
	min-height: 12em;
	max-width: 100%;
}

@media screen and (max-width: 500px) {
	input{
		margin-bottom: 8px;
		width: 100% ;
		padding: 0.5em 1em;
		line-height: 1em;



	}
	textarea {
		@extend input;
		min-height: 3.5em;
		max-width: 100%;

	}

}


/* Bouton */
.btn {

	@extend input;

	display:inline-block;
	border : none;
	background-color: $brand-color;

	cursor:pointer;
	color:$blanc;
	text-decoration:none;
	@include transition-duration($default-transition-duration);

	&:hover{
		@include transition-duration($default-transition-duration);
		background-color: scale-lightness($brand-color, 20);

	}
}
$color-base :lighten($accent-color, 5);
$color-hover : $accent-color;
.btn-light {
	
	
	margin-top: 10px;
	padding: 5px 10px;

	border: 1px solid $color-base;
	@include border-radius(5px);
	
	font-size: 1em;
	color: $color-base;

	@include transition-duration($default-transition-duration);

	&:hover {
		border: 1px solid $color-hover;
		color: $color-hover !important;	

		@include transition-duration($default-transition-duration);	
	}
}

.btn-footer {

	display:inline-block;
	background-color: darken($accent-color, 20);
	padding: 0em 0.5em;

	cursor:pointer;
	color:$blanc;

	@include transition-duration($default-transition-duration);

	&:hover{
		@include transition-duration($default-transition-duration);
		background-color: darken($accent-color, 40);
		color:$blanc !important;

	}
}

.is-active{
	color: $accent-color !important;
}

/*------------------------------------*\
    $ Hiden
\*------------------------------------*/
@media screen and (max-width: 500px) {
	.small-hidden{
		display: none;
	}
}

