.contact{
	background :url(../img/chaise.jpg) center ;
 	@include background-size (cover);

	
	text-align: center;
	h1,h2 {@include single-text-shadow(1px, 2px, 2px, $color: rgba(#000,1));}
	h2 {
		color:$blanc;
		margin-bottom: 1.5em;
		
	}


	.contact-follow {
		
		margin-top: 6em;
		margin-bottom: 3em;

		ul {
			list-style: none ;
			margin-left : 0px !important;
		
			a {
				@include transition-duration($default-transition-duration);
				color : $blanc;	
				&:hover {color:$blanc !important;}	
			}


			li {
				display: inline;
				padding: 1em 1em 1em 0.5em;
				margin-right: 0.3em;
				margin-left: 0px !important;
			}
			.youtube {
				background-color: #cc181e ;
				@include transition-duration($default-transition-duration);
				&:hover {
					@include transition-duration($default-transition-duration);
					background-color: scale-lightness(#cc181e, 10)
				}
			}
			.facebook{
				background-color: #3b5999;
				&:hover {
					@include transition-duration($default-transition-duration);
					background-color: scale-lightness(#3b5999, 10);
				}
			}	
		}		
	}
}