.date {
	font-family: $font-primary-normal;
	font-weight: bold;
	color: $accent-color;
	text-transform: uppercase;
	padding-left: 1em;
}
.ajouter {
	text-align: center;
}
table {
	border-spacing: 0;
}
tr {
	background: $gris-clair;
	
	
	
	td {
		padding: 1em 0;
		border-bottom: 10px solid $blanc;
		text-overflow: hidden;
		white-space: nowrap; 
		overflow: hidden; 
 		text-overflow: ellipsis;
		
	}

}