footer {
	border-top: 3px solid $accent-color;
	font-size:1em;
	.copyright {
		text-align: right;	
	}	
	span {
		color: $accent-color;
	}
}

@media screen and (max-width: 960px) {	
	.liens {
		text-align: left;
	}
	
	

}
@media screen and (max-width: 640px) { 
	
	footer {
		padding: 0.5em 0;

		p {
			margin:  0 !important;
			text-align: center !important;
		}
	}
	
}