footer {

	&::before {
		position : relative;
		display: block;
		content: "";
		width: 0%;
		background: $accent-color;
		height: 3px;
		top:0;
		left: 0;
		@include opacity(0);
	}
	// border-top: 3px solid $accent-color;
	font-size:1em;
	.copyright {
		text-align: right;	
	}	
	span {
		color: $accent-color;
	}
}

.line::before {
	width:100%;
	@include opacity(1);
}

@media screen and (max-width: 960px) {	
	.liens {
		text-align: left;

	}
	
	

}
@media screen and (max-width: 640px) { 
	
	footer {
		padding: 0.5em 0;

		p {
			margin:  0 !important;
			text-align: center !important;
		}
	}
	
}