@media screen and (max-width: 768px) {
	h2 {
		font-size: 2em !important;
	}
	section {
		padding : $padding-section-small ;
	}

	p{
		font-size: 0.9em;
	}

	.underline::after {
		width: 125px;
		margin: 20px 0 0 -62.5px;
		
		
	}
}