@charset "UTF-8";
/*------------------------------------*\
    foundation
\*------------------------------------*/
/*------------------------------------*\
    $perso
\*------------------------------------*/
/*------------------------------------*\
    $Placeholder
\*------------------------------------*/
/*------------------------------------*\
    $selection
\*------------------------------------*/
/* line 32, ../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 22, ../sass/_mixins.scss */
*::-moz-selection {
  color: #464646;
  background: #facf88;
}
/* line 22, ../sass/_mixins.scss */
*::-webkit-selection {
  color: #464646;
  background: #facf88;
}
/* line 22, ../sass/_mixins.scss */
*::-o-selection {
  color: #464646;
  background: #facf88;
}
/* line 22, ../sass/_mixins.scss */
*::-ms-selection {
  color: #464646;
  background: #facf88;
}
/* line 22, ../sass/_mixins.scss */
*::selection {
  color: #464646;
  background: #facf88;
}

/* line 37, ../sass/_base.scss */
body {
  background-color: #f6f6f6;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #464646;
  line-height: 2em;
  font-weight: 300;
}

/* line 49, ../sass/_base.scss */
p {
  font-size: 1.2em;
  color: #464646;
}

/* line 53, ../sass/_base.scss */
body, ul, li, h1, .titre-clair, .titre-sombre, h2, h3, h4, h5, h6, br {
  margin: 0;
  padding: 0;
}

/* line 59, ../sass/_base.scss */
h1, .titre-clair, .titre-sombre {
  margin-bottom: 1em;
  font-size: 3em;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
}

/* line 67, ../sass/_base.scss */
.titre-clair {
  color: white;
}

/* line 68, ../sass/_base.scss */
.titre-sombre {
  color: #233667;
}

/* line 70, ../sass/_base.scss */
h2 {
  margin-bottom: 0.8em;
  color: #464646;
  font-size: 2em;
  line-height: 1.2;
  font-weight: 300;
}

/* line 78, ../sass/_base.scss */
a {
  text-decoration: none;
}
/* line 80, ../sass/_base.scss */
a:hover {
  color: #f5a623 !important;
}

/* line 85, ../sass/_base.scss */
ul {
  margin-left: 15px;
}

/* line 88, ../sass/_base.scss */
li {
  margin-left: 15px;
  list-style: circle;
}

/* line 93, ../sass/_base.scss */
section {
  padding: 3em 0 0 0;
}

/* line 97, ../sass/_base.scss */
.hidden {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  /* line 102, ../sass/_base.scss */
  h1, .titre-clair, .titre-sombre {
    font-size: 2.5em !important;
  }

  /* line 105, ../sass/_base.scss */
  h2 {
    font-size: 1.5em !important;
  }
}
/*------------------------------------*\
    $Formulaire
\*------------------------------------*/
/* line 114, ../sass/_base.scss */
form {
  margin-bottom: 15px;
}

/* line 120, ../sass/_base.scss */
input, textarea, .btn {
  margin-bottom: 15px;
  width: 100%;
  padding: 1em 1em;
  border: none;
  border-radius: 0;
  background-color: white;
  -webkit-appearance: none;
  line-height: 1em;
  font-size: 1em;
  font-weight: 100;
}
/* line 5, ../sass/_mixins.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, .btn::-webkit-input-placeholder {
  color: #464646;
}
/* line 8, ../sass/_mixins.scss */
input:-moz-placeholder, textarea:-moz-placeholder, .btn:-moz-placeholder {
  color: #464646;
}
/* line 11, ../sass/_mixins.scss */
input:-ms-input-placeholder , textarea:-ms-input-placeholder , .btn:-ms-input-placeholder  {
  color: #464646;
}

/* line 137, ../sass/_base.scss */
textarea {
  min-height: 12em;
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  /* line 144, ../sass/_base.scss */
  input, textarea, .btn {
    margin-bottom: 8px;
    width: 100%;
    padding: 0.5em 1em;
    line-height: 1em;
  }

  /* line 153, ../sass/_base.scss */
  textarea {
    min-height: 3.5em;
    max-width: 100%;
  }
}
/* Bouton */
/* line 164, ../sass/_base.scss */
.btn {
  display: inline-block;
  border: none;
  background-color: #233667;
  cursor: pointer;
  color: white;
  text-decoration: none;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
/* line 177, ../sass/_base.scss */
.btn:hover {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  background-color: #36539f;
}

/* line 184, ../sass/_base.scss */
.btn-primary {
  display: inline-block;
  background-color: #aa6d08;
  padding: 0em 0.5em;
  cursor: pointer;
  color: white;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
/* line 195, ../sass/_base.scss */
.btn-primary:hover {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  background-color: #492f03;
  color: white !important;
}

/* line 204, ../sass/_base.scss */
.is-active {
  color: #f5a623 !important;
}

/*------------------------------------*\
    $ Hiden
\*------------------------------------*/
@media screen and (max-width: 500px) {
  /* line 212, ../sass/_base.scss */
  .small-hidden {
    display: none;
  }
}
/* line 1, ../sass/_intro.scss */
.intro, .intro-creation {
  background: url(../img/bgd.jpg) center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  width: 100%;
  display: table;
  padding: 12em 0;
}
/* line 10, ../sass/_intro.scss */
.intro .intro-wrap, .intro-creation .intro-wrap {
  display: table-cell;
  vertical-align: middle;
}
/* line 14, ../sass/_intro.scss */
.intro .intro-wrap .img-wrap, .intro-creation .intro-wrap .img-wrap {
  width: 200px;
}

/* line 24, ../sass/_intro.scss */
.intro-creation {
  background: url(../img/ESC-photo2.jpg) center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 8em 0 !important;
}
/* line 31, ../sass/_intro.scss */
.intro-creation .titre-wrap h1, .intro-creation .titre-wrap .titre-clair, .intro-creation .titre-wrap .titre-sombre {
  margin: 0px !important;
  font-weight: 900;
}

@media screen and (max-width: 960px) {
  /* line 39, ../sass/_intro.scss */
  .intro, .intro-creation {
    padding: 4em 0  !important;
  }

  /* line 42, ../sass/_intro.scss */
  .intro .subtitle-wrap h1, .intro-creation .subtitle-wrap h1, .intro .subtitle-wrap .titre-clair, .intro-creation .subtitle-wrap .titre-clair, .intro .subtitle-wrap .titre-sombre, .intro-creation .subtitle-wrap .titre-sombre {
    font-weight: 300 !important;
  }
}
/* line 1, ../sass/_compagnie.scss */
.compagnie {
  padding-top: 4em !important;
  z-index: 3;
}
/* line 4, ../sass/_compagnie.scss */
.compagnie .present {
  text-align: center;
  padding-bottom: 2em;
}
/* line 8, ../sass/_compagnie.scss */
.compagnie .present-generale {
  margin-bottom: 15px !important;
}

/* line 12, ../sass/_compagnie.scss */
.video {
  padding-right: -1em !important;
}
/* line 16, ../sass/_compagnie.scss */
.video .videoWrapper {
  margin-bottom: 15px;
  position: relative;
  padding-top: 25px;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
/* line 23, ../sass/_compagnie.scss */
.video .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 31, ../sass/_compagnie.scss */
.video .chronologie {
  margin-top: 2em;
}

/* line 2, ../sass/_header.scss */
.header-float {
  position: fixed !important;
  top: 0;
  bottom: inherit !important;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.92) !important;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
/* line 11, ../sass/_header.scss */
.header-float .menu {
  padding: 8px 0.9375em !important;
}
/* line 14, ../sass/_header.scss */
.header-float .logo-menu {
  padding-top: 6px !important;
}

/* line 20, ../sass/_header.scss */
.header {
  position: relative;
  background: white;
  width: 100%;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
/* line 26, ../sass/_header.scss */
.header .logo-menu {
  float: left;
  height: 30px;
  padding-top: 12px;
}
/* line 32, ../sass/_header.scss */
.header .menu {
  text-align: right;
  padding: 15px 0.9375em;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
/* line 40, ../sass/_header.scss */
.header .menu .menu-item {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  font-weight: 400;
  margin-left: 10px;
  letter-spacing: 1px;
  color: #233667 !important;
}
/* line 47, ../sass/_header.scss */
.header .menu .menu-item:hover {
  color: #f5a623 !important;
}

/* line 1, ../sass/_creations.scss */
.creations {
  background-color: #233667;
}
/* line 7, ../sass/_creations.scss */
.creations .carousel .owl-item {
  background-color: white;
}
/* line 10, ../sass/_creations.scss */
.creations .carousel .owl-item h2 {
  margin-top: 0.7em;
  text-align: center;
  color: #464646;
  font-size: 1em;
}
/* line 17, ../sass/_creations.scss */
.creations .carousel .owl-controls {
  float: right;
  margin: 1em 0 2em 0;
}
/* line 20, ../sass/_creations.scss */
.creations .carousel .owl-controls .owl-dots {
  float: left;
}
/* line 23, ../sass/_creations.scss */
.creations .carousel .owl-controls .owl-dots .owl-dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 0.6em;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  border: 1px solid white;
}
/* line 33, ../sass/_creations.scss */
.creations .carousel .owl-controls .owl-dots .active {
  background-color: white !important;
}
/* line 37, ../sass/_creations.scss */
.creations .carousel .owl-controls .owl-nav {
  text-align: right;
  float: right;
}
/* line 40, ../sass/_creations.scss */
.creations .carousel .owl-controls .owl-nav div {
  display: inline-block;
  padding: 0em 0.3em;
  border: 1px solid white;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  color: white;
  font-size: 1.3em;
  line-height: 1.3em;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
/* line 52, ../sass/_creations.scss */
.creations .carousel .owl-controls .owl-nav div:hover {
  background-color: white;
  color: #233667;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
/* line 58, ../sass/_creations.scss */
.creations .carousel .owl-controls .owl-nav .owl-next {
  margin-left: 0.3em;
}

@media screen and (max-width: 768px) {
  /* line 67, ../sass/_creations.scss */
  .owl-item h2 {
    font-size: 1em !important;
  }

  /* line 70, ../sass/_creations.scss */
  .owl-controls {
    margin: 0 0 1em 0 !important;
    float: none !important;
    text-align: center;
  }
  /* line 74, ../sass/_creations.scss */
  .owl-controls .owl-dots {
    float: none !important;
  }
  /* line 77, ../sass/_creations.scss */
  .owl-controls .owl-nav {
    display: none;
    float: none !important;
    height: 0px !important;
  }
}
/* line 2, ../sass/_dates.scss */
.representation h1, .representation .titre-clair, .representation .titre-sombre {
  text-align: center;
}
/* line 5, ../sass/_dates.scss */
.representation .date {
  margin-bottom: 1em;
}
/* line 8, ../sass/_dates.scss */
.representation .date .item-date {
  width: 20%;
  float: left;
  background-color: #f5a623;
  text-align: center;
}
/* line 16, ../sass/_dates.scss */
.representation .date .item-date p {
  margin: 0.1em 0;
  color: white !important;
}
/* line 20, ../sass/_dates.scss */
.representation .date .item-date .jour {
  font-size: 3.2em;
}
/* line 23, ../sass/_dates.scss */
.representation .date .item-date .mois, .representation .date .item-date .annee {
  font-size: 1.6em;
  line-height: 1em;
  text-transform: uppercase;
}
/* line 30, ../sass/_dates.scss */
.representation .date .item-info {
  width: 80%;
  float: right;
  padding: 1.15em 1.5em;
  background-color: white;
  margin: 0;
}
/* line 35, ../sass/_dates.scss */
.representation .date .item-info h2 {
  font-size: 1.5em;
  margin: 0 !important;
}
/* line 39, ../sass/_dates.scss */
.representation .date .item-info p {
  margin: 0;
}

/* line 45, ../sass/_dates.scss */
.date-wrap:hover {
  -webkit-transform: translateX(2%);
  -moz-transform: translateX(2%);
  -ms-transform: translateX(2%);
  -o-transform: translateX(2%);
  transform: translateX(2%);
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 49, ../sass/_dates.scss */
.date-wrap {
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

@media screen and (max-width: 768px) {
  /* line 56, ../sass/_dates.scss */
  .item-date .jour {
    font-size: 2.6em !important;
  }
  /* line 59, ../sass/_dates.scss */
  .item-date .mois, .item-date .annee {
    font-size: 1.4em !important;
    line-height: 1em;
  }

  /* line 67, ../sass/_dates.scss */
  .item-info h2 {
    font-weight: bold;
    font-size: 1em !important;
  }
}
/* line 1, ../sass/_contact.scss */
.contact {
  margin-top: 3em;
  background: url(../img/Garmoutias2.jpg) center top -30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
/* line 8, ../sass/_contact.scss */
.contact h1, .contact .titre-clair, .contact .titre-sombre, .contact h2 {
  color: white;
}
/* line 9, ../sass/_contact.scss */
.contact h2 {
  margin-bottom: 1.5em;
  text-shadow: 1px 2px 2px black;
}
/* line 15, ../sass/_contact.scss */
.contact .contact-follow {
  margin-top: 6em;
  margin-bottom: 3em;
}
/* line 20, ../sass/_contact.scss */
.contact .contact-follow ul {
  list-style: none;
  margin-left: 0px !important;
}
/* line 24, ../sass/_contact.scss */
.contact .contact-follow ul a {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  color: white;
}
/* line 27, ../sass/_contact.scss */
.contact .contact-follow ul a:hover {
  color: white !important;
}
/* line 31, ../sass/_contact.scss */
.contact .contact-follow ul li {
  display: inline;
  padding: 1em 1em 1em 0.5em;
  margin-right: 0.3em;
  margin-left: 0px !important;
}
/* line 37, ../sass/_contact.scss */
.contact .contact-follow ul .youtube {
  background-color: #cc181e;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
/* line 40, ../sass/_contact.scss */
.contact .contact-follow ul .youtube:hover {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  background-color: #e41c23;
}
/* line 45, ../sass/_contact.scss */
.contact .contact-follow ul .facebook {
  background-color: #3b5999;
}
/* line 47, ../sass/_contact.scss */
.contact .contact-follow ul .facebook:hover {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  background-color: #4366af;
}

/* line 1, ../sass/_footer.scss */
footer {
  background-color: #f5a623;
}
/* line 3, ../sass/_footer.scss */
footer .copyright {
  text-align: right;
}
/* line 5, ../sass/_footer.scss */
footer .copyright p {
  color: #151515;
  font-size: 1em;
}
/* line 7, ../sass/_footer.scss */
footer .liens {
  padding-top: 1.3em;
}

@media screen and (max-width: 960px) {
  /* line 15, ../sass/_footer.scss */
  footer {
    padding: 1em 0 !important;
  }
  /* line 17, ../sass/_footer.scss */
  footer .liens {
    text-align: left;
    padding-top: 0.3em;
  }
  /* line 23, ../sass/_footer.scss */
  footer .copyright p {
    margin: 0 !important;
    padding: 0.3em 0 !important;
  }
}
@media screen and (max-width: 640px) {
  /* line 34, ../sass/_footer.scss */
  footer .liens {
    text-align: center;
  }
  /* line 39, ../sass/_footer.scss */
  footer .copyright {
    text-align: center;
  }
}
/* line 2, ../sass/_modal.scss */
.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden;
}

/* line 6, ../sass/_modal.scss */
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* line 24, ../sass/_modal.scss */
.md-show {
  visibility: visible;
}

/* line 30, ../sass/_modal.scss */
.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(1, 1, 1, 0.85);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 45, ../sass/_modal.scss */
.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

/* Effect 3: Slide from the bottom */
/* line 53, ../sass/_modal.scss */
.md-effect-3 .md-content {
  -webkit-transform: translateY(20%);
  -moz-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 64, ../sass/_modal.scss */
.md-show.md-effect-3 .md-content {
  background-color: #f6f6f6;
  padding: 1em;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
/* line 74, ../sass/_modal.scss */
.md-show.md-effect-3 .md-content .modal-header {
  padding: 1em inherit;
}
/* line 76, ../sass/_modal.scss */
.md-show.md-effect-3 .md-content .modal-header a {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  text-align: right;
}

/* line 1, ../sass/_presentPiece.scss */
.present-piece section {
  padding: 3em 0 0 0;
}
/* line 3, ../sass/_presentPiece.scss */
.present-piece section .titre-wrap h1, .present-piece section .titre-wrap .titre-clair, .present-piece section .titre-wrap .titre-sombre {
  text-shadow: #464646 1px 1px 7px;
  text-align: left;
}
/* line 7, ../sass/_presentPiece.scss */
.present-piece section .wrap-presentation-date {
  margin-bottom: 1em;
}
/* line 9, ../sass/_presentPiece.scss */
.present-piece section .wrap-presentation-date .presentation-date {
  line-height: 1.6em !important;
  width: 135px;
  color: white;
  padding: 0 1em;
  background-color: #f5a623;
}
/* line 17, ../sass/_presentPiece.scss */
.present-piece section .wrap-presentation-date .presentation-lieu {
  font-size: 1.2em;
  padding: 0.1em 0.3em;
  border-left: 2px solid #f5a623;
  line-height: 1em !important;
}
